.AboutMeSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    background-color: var(--purple-color);
    padding: 100px 40px 0 40px;
    border-radius: 10px;
    width: 89%;
    flex: 9;
   
}

.AboutMeSection__Description{
    display: flex;
    
}
.AboutMeSection__DescriptionText{
    width: 55%;
    font-size: 23px;
    font-weight: 400;
}
.AboutMeSection__ContentImages{
    padding: 0 100px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
    max-height: 150px;
   
}
.img_items{
    width: 56px;
    height: auto;
}
.description--imgs{
    padding: 0 100px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
    max-height: 150px;
   
} 
@media (max-width: 1440px){
    .description--text{
        font-size: 20px;
    }
    .AboutMeSection__ContentImages {
        padding: 0 81px;
    }
}
@media (max-width: 1244px){
    .AboutMeSection__ContentImages {
        padding: 0 50px;
    }
}
@media (max-width:912px){
    .AboutMeSection{
        width: 85%;
    }
   
}
@media (max-width:768px){
    .AboutMeSection{
        width: 85%;
    }
    .img_items {
        width: 40px;
    }    
    .gabyImg{
        margin-right: -51px;
    }
}
@media (max-width:430px){
    .AboutMeSection{
        width: 100%;
        margin-top: 25px;
        padding: 26px 20px 0 20px;
    }
    .AboutMeSection__Description{
        flex-direction: column;
        width: 100%;
    }

    .AboutMeSection__DescriptionText{
        width: 100%;
    }    
    .AboutMeSection__ContentImages{
       width: 100%;
       min-height: auto;
       margin-top:25px ;
       padding: 0;
       gap: 17px;

    }    
  
}
