.SubTitle{
    font-size: 109px;
    font-weight: 600;
}

@media (max-width: 1440px){

    .SubTitle{
        font-size: 87px;
        line-height: 73px;
    }
}

@media (max-width: 1024px){
    .SubTitle{
        font-size: 55px;
        line-height: 54px;
    }
}

@media(max-width: 425px){
    .SubTitle{
        font-size: 44px;
        line-height: 39px;
    }
}
