
.footer{
    padding: 0 100px;
    margin-top: 190px;

}
.footerFarewell{
    font-size: 23px;
    width: 38%;
    font-weight: 500;
    margin-bottom: 35px;
}
.footer__final{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}
.socialMedia{
    text-decoration: none;
    color: var(--white-color);
    margin-right: 50px;
    font-size: 19px;

}
.footer__copyr{
    color: var(--white-color);
    font-size: 23px;
    font-weight: 400;
    
} 
.hrFooter{
    color: var(--white-color);
    opacity: 0.2;

}

@media (max-width: 768px){
    .footer{
        padding: 0 50px;
    
    }
    .footerFarewell{
        font-size: 20px;
        width: 77%;
    }
    .socialMedia{
        font-size: 17px;
    }
    
    .footer__copyr{
        font-size: 20px;
    }

}
@media (max-width: 425px){
    .footer{
        padding: 0 25px;
    
    }
    .socialMedia{
        margin-right: 14px;
    }
    .footer__final{
        min-height: 61px;
        align-items: center;
        flex-direction: column;
        margin: 16px 0;
    }
}