.Marquee{
    width: 100px;
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: var(--white-color);

}
.Marquee__contentText
{
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 81px;
    display: flex;
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    animation: verticalScrolling 30s linear infinite;
}

@keyframes verticalScrolling {
    0% {    
        transform: translateY(0%);
        }
    100% {transform: translateY(100%);}
}

@media (max-width: 1024px){
    .Marquee__contentText{
        font-size: 59px;
        min-height: 79px;
    }
}


@media (max-width: 768px){

    .Marquee__contentText{
        font-size: 60px;
        min-height: 62px;

    }
}

@media (max-width: 425px){
    .marqueeH{
        width: 62%;
    }
    
    .marquee_textH{
        font-size: 48px;
        min-height: 60px;

    }
    .Marquee{
        display: none;
    }
    
}