.WoksSection{
    padding: 0 100px;
    margin-top: 150px;
}

@media (max-width:768px){
    .WoksSection{
        padding: 0 50px;
    }
}
@media (max-width:430px){
    .WoksSection{
        padding: 0 25px;
    }
}