.TargetsAboutMe{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    overflow: hidden;
}
.TargetsAboutMe_container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    gap: 5px;
}
.TargetsAboutMe_targets{
    background-color: var(--white-color);
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 350px;
    overflow: hidden;
    
}
.TargetsAboutMe_credenciales{
    margin-top: 8px;
}
  

.targetsP{
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
}

