@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayXXThin.ttf') format('truetype');
    font-weight: 100;
} 
@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayXThin.ttf') format('truetype');
    font-weight: 200;
} 
@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayThin.ttf') format('truetype');
    font-weight: 300;
} 
@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 400;
} 
@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 500;
} 

@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 600;
} 
@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
} 
@font-face {
    font-family: 'Neue Haas Grotesk Display pro';
    src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: bold;
} 

:root {
    --black-color: #000612;
    --purple-color: #6e3ceb;
    --yellow-color: #e9ff00;
    --white-color: #fdfaf5; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Neue Haas Grotesk Display pro';
    font-weight: 500;
}

.whiteUnderlined::selection{
    background-color: var(--white-color);
    color: var(--purple-color);
}
.purpleUnderlined::selection{
    color: var(--white-color);
    background-color: var(--purple-color);
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 10px 15px;
		
}
body::-webkit-scrollbar-track{
	background-color:var(--black-color);
	
}
body::-webkit-scrollbar:vertical {
	width:8px;
}


.marqueePoint{
    color: var(--yellow-color);
}


.targetsSpan{
    font-weight: 600;
}

